body {
  overflow-x: hidden;
}

.add-todo-row {
  margin-top: 50px;
}

.todos-row {
  margin-top: 30px;
}

#sortable input[type='text'] {
  border: none;
  box-shadow:none;
  font-size: 18px;
  margin: 10px 0 0 5px;
  width: 45%;
}

input[type="checkbox"]{
  width: 15px; 
  height: 15px;
  position: relative;
  top: 8px;
}


ul li {
  list-style: none;
}

.fa-trash-o {
  color: red;
}

.fa {
  position: relative;
  top: 5px;
  margin-right: 7px;
}

hr {
  margin: 10px 0px;
}

.checkedClass {
  text-decoration: line-through;
}

.todo-json {
  position:relative;
  top: 70px;
  left: 50px;
  right: 50px;
}
